*:not(i) {
    font-family: 'Prompt', sans-serif !important;
}

h1 {
    font-size: calc(30px + 1vw) !important
}

h2 {
    font-size: calc(26px + 1vw) !important
}

h3 {
    font-size: calc(24px + 1vw) !important
}

h4 {
    font-size: calc(20px + 0.75vw) !important
}

h5 {
    font-size: calc(18px + 0.75vw) !important
}

h6 {
    font-size: calc(16px + 0.75vw) !important
}

p,span {
    font-size: calc(6px + 0.5vw) !important;
}

body {
    background: url('https://images.ctfassets.net/fo9twyrwpveg/4PwtTGVSSQQ0sk8qiak8GQ/1b8bcec0f9c9953d41413e463c16da0d/100_JupiterNotebooks.png?fm=jpg&fl=progressive&q=90&w=2156');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eeeeee;
}

.section {
    position: relative;
}

.header {
    background: rgba(0, 0, 0, 0.5);
}

.slowly {
    animation-duration: 8s;
}

.gradient1 {
    background: -webkit-linear-gradient(45deg, #b388ff , #651fff 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.box {
    background: #eeeeee;
    padding: 1rem 3rem;
    color: #424242;
    display: inline-block;
}

.scroll-down-i {
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation-delay: 1500ms;
    animation-duration: 7s;
}

.project-list {
    background-color: #e0e0e0 ;
    color: #424242;
}

img {
    width: 100%;
    /* display: table; */
}

.card-panel {
    background: #424242;
    color: #e0e0e0;
}

.page2,.page4 {
    background: #e0e0e0;
}

.imgstyle {
    display: flexbox;
}

.credit {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 999;
    color: #e0e0e0;
    background: rgb(0,0,0,0.2);
}
.credit a {
    color: #556cd6;
}